footer.footer
	p.footer__text(data-reveal).
		Based in Guatemale, Working worldwide<br>
		GT LOCAL Time 6:52 AM
	a.footer__contact(href="/contact" data-reveal-title) Get in touch
	p.footer__copyright(data-reveal) &copy; Antara studio 2022
