nav.navigation
	a.navigation__logo(href="/")
		<svg width="72" height="13" viewBox="0 0 72 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.48999 12.9998L4.84999 0.259766H7.19999L11.43 12.9998H9.42999L8.43999 9.95977H3.51999L2.48999 12.9998H0.48999ZM3.99999 8.49977H7.96999L5.98999 2.54977L3.99999 8.49977Z" fill="black"/>
		<path d="M13.8341 0.259766H16.0041L22.1741 10.1398H22.0241V0.259766H23.9241V12.9998H21.9041L15.4341 2.67977H15.7341V12.9998H13.8341V0.259766Z" fill="black"/>
		<path d="M25.9989 1.89977V0.259766H36.0389V1.89977H31.5389L31.9689 1.45977V12.9998H30.0689V1.45977L30.4889 1.89977H25.9989Z" fill="black"/>
		<path d="M35.783 12.9998L40.143 0.259766H42.493L46.723 12.9998H44.723L43.733 9.95977H38.813L37.783 12.9998H35.783ZM39.293 8.49977H43.263L41.283 2.54977L39.293 8.49977Z" fill="black"/>
		<path d="M49.157 12.9998V0.259766H53.717C55.2037 0.259766 56.3337 0.613099 57.107 1.31977C57.887 2.01977 58.277 2.9431 58.277 4.08977C58.277 5.2231 57.887 6.13977 57.107 6.83977C56.3337 7.53977 55.2037 7.88977 53.717 7.88977H51.057V12.9998H49.157ZM56.187 12.9998L52.657 7.13977H54.707L58.657 12.9998H56.187ZM51.057 6.58977H53.547C54.4537 6.58977 55.1437 6.3731 55.617 5.93977C56.0904 5.49977 56.327 4.9331 56.327 4.23977C56.327 3.52643 56.1037 2.95977 55.657 2.53977C55.217 2.1131 54.5704 1.89977 53.717 1.89977H51.057V6.58977Z" fill="black"/>
		<path d="M60.2166 12.9998L64.5766 0.259766H66.9266L71.1566 12.9998H69.1566L68.1665 9.95977H63.2466L62.2166 12.9998H60.2166ZM63.7266 8.49977H67.6966L65.7166 2.54977L63.7266 8.49977Z" fill="black"/>
		</svg>
	.navigation__menu__wrapper
		menu.navigation__container
			li.navigation__item
				a.navigation__item__link(href="/work") Work
			li.navigation__item
				a.navigation__item__link(href="/work") Services
			li.navigation__item
				a.navigation__item__link(href="/work") About
			li.navigation__item
				a.navigation__item__link(href="/work") Contact
			li.navigation__item.btn--cto
				.btn__cto__container
					<svg width="146" height="29" viewBox="0 0 146 29" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M145.6 14.5C145.6 15.3545 145.166 16.2349 144.238 17.1352C143.31 18.0361 141.92 18.9242 140.093 19.782C136.442 21.4967 131.133 23.0513 124.541 24.3607C111.363 26.9782 93.1404 28.6 73 28.6C52.8596 28.6 34.6369 26.9782 21.4591 24.3607C14.8669 23.0513 9.55799 21.4967 5.90673 19.782C4.08005 18.9242 2.68974 18.0361 1.7617 17.1352C0.834206 16.2349 0.4 15.3545 0.4 14.5C0.4 13.6455 0.834206 12.7651 1.7617 11.8648C2.68974 10.9639 4.08005 10.0758 5.90673 9.21801C9.55799 7.50332 14.8669 5.9487 21.4591 4.63929C34.6369 2.02178 52.8596 0.4 73 0.4C93.1404 0.4 111.363 2.02178 124.541 4.63929C131.133 5.9487 136.442 7.50332 140.093 9.21801C141.92 10.0758 143.31 10.9639 144.238 11.8648C145.166 12.7651 145.6 13.6455 145.6 14.5Z" stroke="black" stroke-width="0.8"/>
					</svg>
					a.navigation__item__link(href="/work") Get in touch

