@use '../utils/responsive.scss' as *;

%description-13 {
	font-size: 1.3rem;
	line-height: 1.29;

	@include media('<tablet') {
		font-size: 1.7rem;
	}

	@include media('<phone') {
		font-size: 1.3rem;
	}
}

%description-19 {
	font-size: 1.9rem;
	line-height: 1.28;

	@include media('<tablet') {
		font-size: 2.3rem;
	}

	@include media('>tablet') {
		// prettier-ignore
		font-size: 18px;
	}

	@include media('<phone') {
		font-size: 1.3rem;
	}
}
