@use '../shared/titles.scss' as *;
@use '../utils/variables.scss' as *;
@use '../utils/responsive.scss' as *;

.footer {
	background-color: #000;
	padding-block: 6rem 3rem;
	padding-left: 11.5rem;
	color: #fff;

	@include media('<tablet') {
		padding-left: 7rem;
	}

	.footer__text {
		text-transform: uppercase;
	}

	.footer__contact {
		color: #fff;
		font-family: $font-noto-sans;
		@extend %title-150;
		position: relative;
		display: inline-block;
		margin-block: 6rem 5rem;
		transition: color 0.45s ease-out;

		&:hover {
			color: rgba(255, 255, 255, 0.65);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.3rem;
			background-color: rgba(255, 255, 255, 0.65);
		}
	}
}
