@use '../shared/description.scss' as *;
@use '../shared/links.scss' as *;
@use '../utils/responsive.scss' as *;

.navigation {
	display: flex;
	gap: 3.1rem;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	margin-bottom: 12.4rem;
	padding-block: 34px 0;
	padding-inline: 11.8rem;
	@include media('<phone') {
		padding-inline: 2.3rem;
	}

	&__container {
		gap: 3.1rem;
	}

	.navigation__item__link {
		text-transform: uppercase;

		&:not(.btn--cto a) {
			@extend %link-hover;
		}
	}

	.navigation__item.btn--cto {
		padding: 0.5rem 1.8rem;
		cursor: pointer;
	}

	.btn__cto__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			position: absolute;
			height: 135%;
		}
	}

	@include media('<phone') {
		.navigation__menu__wrapper {
			display: none;
		}
	}
}
