@use '../shared/description.scss' as *;
@use '../shared/titles.scss' as *;

@use '../utils/responsive.scss' as *;

@use '../utils/variables.scss' as *;
@use './fonts.scss' as *;

//! TODO ANIMATION STROKE

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 1440 * 10);
	@include media('<phone') {
		font-size: calc(100vw / 422 * 10);
	}
	// overflow: hidden;
	// position: fixed;
	text-rendering: optimizeLegibility;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	display: none;
	width: 0;
}

::selection {
	color: #979797;
}

ul,
menu {
	list-style: none;

	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
	color: #000;
}

h1 {
	font-family: $font-noto-sans;
	@extend %title-150;
}

h2 {
	font-family: $font-noto-sans;
	@extend %title-57;
}

h3,
h4 {
	font-family: $font-noto-sans;
	@extend %title-28;
}

p,
a {
	font-family: $font-kara;
	@extend %description-19;
}

span {
	font-family: $font-kara;
	@extend %description-13;
}
