@use '../../utils/functions.scss' as *;
@use '../../utils/variables.scss' as *;
@use '../../utils/responsive.scss' as *;
@use '../../shared/links.scss' as *;

.circle {
	position: absolute;
	filter: blur(90px);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: z('circles');
	@include media('<tablet') {
		display: none;
	}
}

.circle.circle--bage {
	background-color: $fawn;
	width: 38rem;
	top: 43.7rem;
	right: 40.5rem;
}

.circle.circle--grey {
	background-color: $grey-chateau;
	width: 25rem;
	top: 22rem;
	left: 22.9rem;
}

.home__hero,
.home__about {
	position: relative;
	z-index: z('content');
	margin-left: 22.85rem;

	@include media('<tablet') {
		margin-left: 7rem;
	}
}

.home__title {
	margin-bottom: 21.8rem;
	display: flex;
	flex-direction: column;
	gap: 2.8rem;

	.title__item {
		display: flex;
		gap: 6rem;
		align-items: flex-end;

		&__text {
			line-height: 0.83;
		}
	}
}

.home__scroll__svg {
	position: absolute;
	right: 3.6rem;
	bottom: 6.4rem;
	display: flex;
	flex-direction: column;
	gap: 1.85rem;
}

.scroll__svg__container,
.scroll__svg__arrow,
.navigate__svg__container,
.navigate__to__svg {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigate__to__svg {
	justify-content: flex-start;
	gap: 1.85rem;
	cursor: pointer;

	@extend %navigate__hover;
}

.scroll__svg__inner,
.navigate__svg__inner {
	position: absolute;
}

.scroll__svg__outer,
.navigate__svg__outer {
	transform-origin: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home__about {
	.home__about__description {
		margin-block: 4rem 3rem;
		display: flex;
		gap: 4.2rem;
	}
}

.home__selected__works {
	margin-left: 11.6rem;

	@include media('<tablet') {
		margin-left: 7rem;
	}

	.selected__works__header {
		margin-block: 15.8rem 9rem;
		margin-inline: auto;
		padding-right: 11.6rem;
		width: 83%;
		display: flex;
		gap: 10.2rem;
		justify-content: space-between;
		align-items: center;
		white-space: nowrap;

		span {
			height: 0.1rem;
			background-color: #000;
			width: 100%;
		}

		@include media('<tablet') {
			width: 100%;
		}
	}

	.selected__works__wrapper {
		display: inline-flex;
		flex-direction: column;
		gap: 2.8rem;

		.selected__works__item {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			gap: 1.5rem;

			&:nth-child(odd) {
				flex-direction: row-reverse;
			}

			.selected__works__title {
				line-height: 0.83;
			}
		}
	}
}

.home__contact {
	margin-block: 17.4rem 8.1rem;
	margin-inline: 11.6rem;

	@include media('<tablet') {
		margin-inline: 7rem;
	}

	display: flex;
	// gap: 23rem;
	justify-content: space-between;
	align-items: flex-end;

	&__image {
		width: 100%;
		max-width: 48.5rem;
	}

	.home__contact__text {
		padding-block: 3rem 5rem;
	}

	.services__list {
		display: inline-block;
		margin-block: 2rem 3rem;
	}

	.services__container {
		@extend %navigate__hover;
	}
}
